@model MVCTesting.Controllers.HomeController.Persona

<div class="form-group">
    @Html.LabelFor(model => model.Nombre):
    @Html.DisplayFor(model => model.Nombre)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.edad):
    @Html.DisplayFor(model => model.edad)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.nacimiento):
    @Html.DisplayFor(model => model.nacimiento)
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Empleado):
    @Html.DisplayFor(model => model.Empleado)
</div>
